body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-link.active {
  font-weight: bold;
  color: #ff4400 !important;
}
